<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" type="ColoredConsole" layout="${longdate} ${windows-identity} ${message}" />

    <target name="file" type="File"
       layout="${longdate} ${message}" 
       fileName="${basedir}/logs/logfile.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="file" />
    
    
  </rules>
</nlog>